html {
    height: 100%;
}

body {
    color: #000000;
    font-family: 'Lato';
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

:root {
    --navbar-height: 50px;
}

.market-banner {
    position: fixed;
    margin-top: 90px;
    width: 100%;
    height: calc(100vh - var(--navbar-height)); 
    overflow: hidden;
}

.market-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
    color: aqua;
}
.checkout-container {
    margin-top: 150px;
}
.login-container {
    margin-top: 160px;
}

.container {
    margin-top: 150px;
}

.product-detail-img {
    width: 380px; 
    height: auto; 
    max-width: 380px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.search-input {
    width: 120px;
    transition: width 0.3s ease-in-out;
    border-radius: 20px;
}

.search-input:focus {
    width: 200px;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.product-container {
    margin-top: 100px;
}

.name-container {
    margin-top: 80px;
}

/* For smaller screens */

@media (max-width: 992px) {

    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .products-container {
        grid-template-columns: 1fr;
    }
}