{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Log In{% endblock title %}

{% block content %}
<div class="login-container my-6">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4 text-center">{% trans "Log In" %}</h2>
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {{ form.non_field_errors }}
        </div>
      {% endif %}
      <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success w-100 mt-3">{% trans "Log In" %}</button>
      </form>
      <p class="mt-3 text-center">
        {% trans "Don't have an account?" %} <a href="{% url 'account_signup' %}">{% trans "Register" %}</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}
