{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
    <div class="hero-image">
        <div class=" hero-text">
            <h1 class="mt-4">Welcome to our online market</h1>
            <p class="lead">
                Your one-stop shop for fresh fruits, vegetables, and meat delivered directly to your door.
            </p>
            <a href="" class="btn btn-primary btn-lg">
                    Shop Now
            </a>
        </div>
    </div>
{% endblock %}

