{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="market-banner">
    <img src="/media/market_image.jpg" alt="Market Banner">
    <div class="banner-content">
        <h1 class="display-4 logo-font text-white">
            Welcome to your online market!
        </h1>
        <h4 class="my-5">
            <a href="{% url 'product_list' %}" class="shop-now-button btn btn-lg btn-success text-uppercase py-3 text-white" role="button">
            Shop now
            </a>
        </h4>
    </div>
</div>    

{% endblock %}

