{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container my-6">
    <h2 class="mb-3">About Market to Your Door</h2>
    <hr>
    <p>
        Market to Your Door is your trusted online destination for fresh fruits, vegetables, and many more straight to your door. 
        We work closely with local farmers and suppliers to ensure top-quality produce, sustainable sourcing, and unbeatable freshness.
    </p>
    <p>
        Our mission is to make healthy eating easy and accessible. Whether you're planning your weekly meals or throwing a last-minute dinner,
        we’ve got you covered with speedy delivery and a curated selection of farm-fresh products.
    </p>
</div>
{% endblock %}
