{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container my-6">
  <h1>{{ category.name }}</h1>
  {% if products %}
    <div class="row">
      {% for product in products %}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            {% if product.image %}
              <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">Price: £{{ product.price|floatformat:2 }}</p>
              <a href="{% url 'product_detail' product.slug %}" class="btn btn-dark">View Details</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No products found in this category.</p>
  {% endif %}
</div>
{% endblock %}
